* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 3rem;
  font-family: sans-serif;
}

.container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  margin: 3rem 0;
  display: flex;
}

.form-control > input {
  padding: 1rem 2rem;
  border: 2px solid #4a4483;
  outline: none;
  font-size: 2 rem;
  width: 30rem;
}

.form-control > button {
  border: none;
  background: #4a4483;
  color: white;
  font-size: 2rem;
  width: 10rem;
  cursor: pointer;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 40rem;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 5px #ccc;
}

.shopping-item-name,
.fas.fa-trash {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}

.dropdown {
  margin-bottom: 2rem;
  padding: 1rem;
  color: #4a4483;
  font-family: sans-serif;
  font-size: 1.5rem;
  border-width: 2px;
  border-color: #4a4483;
}

.dropdown:hover {
  border-color: #4a4483;
}

.buttonZone {
  margin-bottom: 2rem;
  word-spacing: 1.8rem;
}

.butoane {
  width: 8rem;
  padding: 2px;
  background-color: #b5b0e2;
}

.butoane:hover {
  background-color: #4a4483;
  color: white;
}
