* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 9.5% 9.5% 9.5% 9.5% 1fr;
  grid-template-rows: 0.6fr 0.5fr 1.8fr 0.6fr;
  grid-template-areas:
    ". header header header header ."
    ". box1 box2 box3 slidebar ."
    ". main main main slidebar ."
    ". footer footer footer footer .";
}

.grid div {
  background-color: darksalmon;
  color: white;
  margin: 5px;
  padding: 5px;
}

.grid div:hover {
  background-color: orange;
}

.header {
  grid-area: header;
}

.box1 {
  grid-area: box1;
  justify-items: stretch;
  height: 5rem;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

.slidebar {
  grid-area: slidebar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
